
<header>
    <nav class="nav flex align-items-center">
        <a href=""><h1 class="text-white">D-F-5--></h1></a>
        <i class="pi pi-bars lg:hidden"  (click)="toggle()" style="color: slateblue; font-size: 2rem"></i>
        
            <ul *ngIf="showNavList" class="nav-list gap-5 align-items-center text-center justify-content-center lg:flex lg:w-auto lg:align-items-center">
                <li class="nav-item capitalize p-2 text-white">home</li>
                <li class="nav-item capitalize p-2"><a  class="text-white" href="#skill">skills</a></li>
                <li class="nav-item capitalize p-2"><a  class="text-white" href="#project">Projects</a></li>
                <li class="nav-item capitalize p-2 text-white">
                    <p-button  [outlined]="true"><a class="text-primary"  href="mailto:deepanappu1999@gmail.com">Hire me</a></p-button>
            </ul>
    </nav>
</header>
<hero></hero>
<skills></skills>
<projects></projects>
<css-libs></css-libs>
<experience></experience>
<footer></footer>
<p-scrollTop styleClass="custom-scrolltop bg-primary" icon="pi pi-arrow-up"></p-scrollTop>