.nav {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-list {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.nav-item {

    margin: 0;
}