header {
    background-color: var(--color-primary);

}

.nav {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-list {
    width: 100%;
    text-align: center;
    justify-content: center;
    transition-duration: 1.2s ;
    animation: fadeIn 2s ease; 
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }

.nav-item {

    margin: 0;
}

.active {
    color: #3B86F2 !important;
}