<div class="grid grid-nogutter text-800">
  <div class="col-12 md:col-6 text-center md:text-left flex align-items-center">
    <section>
      <span
        class="block text-5xl md:text-7xl font-bold mb-1 text-white capitalize mt-5"
        >Hi, I am Deepan and,</span
      >
      <div class="text-5xl md:text-7xl text-primary font-bold mb-3">
        <span class="text-white capitalize">a </span
        >Front-&nbsp;End-&nbsp;Developer
      </div>
      <p
        class="mt-0 mb-4 lg:text-700 line-height-3"
        style="color: #c4c4c3 !important"
      >
        I build things for the Web. I don't just build websites, I build
        websites that SELLS”.
      </p>
      <!-- <p-button pRipple label="See More &rarr;" [link]="true" [outlined]="true" size="large"></p-button> -->
      <p-button class="mb-2 mr-2" pRipple [outlined]="true" label=" &rarr; "
        ><a class="text-primary" href="#skill">See More</a></p-button
      >
      <!-- <p-button class="mb-2" pRipple severity="success" [outlined]="true" label=" &#8595;"
        ></p-button
      > -->
      <p-button (click)="showDialog()" label="View Resume &#8599;" [outlined]="true" severity="success"><a  download class="text-green-500" href="/src/assets/file/Deepan-Resume.pdf"></a></p-button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden desktop-clip-path">
    <img
      src="../../assets/images/hero.gif"
      alt="Image"
      class="sm:mt-2 h-25rem md:ml-auto block md:h-full"
    />
  </div>
</div>

<p-dialog header="Deepan-Resume" [position]="'center'" [(visible)]="visible" [style]="{width: '80vw', margin:'2rem', overflow:'auto'}">
  <app-resume></app-resume>
</p-dialog>
